@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  box-shadow: 12px 15px 5px 6px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -10px 10px 1px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 12px 15px 5px 6px rgba(0, 0, 0, 1);
}
